.logo{
    width:135px;
    height: 135px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    
    

}
.logo img:hover{
    width:135px;
    height: 135px;
    
} 


.logo img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
   width: 125px;
    height: 125px;
} 

 .carrosel {
    width: 930px;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
   
}

.slides{
    display: flex;
    animation: deslizar 60s infinite linear;
    transition: transform 4s linear;
}

@keyframes deslizar {
    0%, 3.85% { transform: translateX(0%); }        /* Primeira imagem - Pausa 3s */
    7.7%, 11.55% { transform: translateX(-100%); }  /* Segunda imagem - Pausa 3s */
    15.4%, 19.25% { transform: translateX(-200%); } /* Terceira imagem - Pausa 3s */
    23.1%, 26.95% { transform: translateX(-300%); } /* Quarta imagem - Pausa 3s */
    30.8%, 34.65% { transform: translateX(-400%); } /* Quinta imagem - Pausa 3s */
    38.5%, 42.35% { transform: translateX(-500%); } /* Sexta imagem - Pausa 3s */
    46.2%, 50.05% { transform: translateX(-600%); } /* Sétima imagem - Pausa 3s */
    53.9%, 57.75% { transform: translateX(-500%); } /* Oitava imagem - Pausa 3s */
    61.6%, 65.45% { transform: translateX(-400%); } /* Nona imagem - Pausa 3s */
    69.3%, 73.15% { transform: translateX(-300%); } /* Décima imagem - Pausa 3s */
    77%, 80.85% { transform: translateX(-200%); }  /* Décima primeira imagem - Pausa 3s */
    84.7%, 88.55% { transform: translateX(-100%); } /* Décima segunda imagem - Pausa 3s */
    92.4%, 96.25% { transform: translateX(0%); } /* Décima terceira imagem - Pausa 3s */

}  





.imagem {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter:grayscale(100%)
}

.imagem:hover{
    filter:grayscale(0%)
}



.texto h2{

    position: absolute;
    top: 30%;
    left: 36%;
    text-align: center;
    transform: translatex(-50%,-50%);
    font-size:60px;
    font-family: impact;
      
}

.texto2 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:300;
    color:white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left:12%;

    transform: translatex(-50%,-50%);
    text-align:center;
}

button{
    border: none;
    border-radius: 2px;
    background-color: white;
    
}

h2{
    font-weight:900px;
    color:white
    
}


/* h3{
    text-align: justify;
    width: 500px;
    height: 308px;
    color: #29183A;
} */

/* @font-face {
    font-family: "minhaFonte";
    src: url("../fonts/minhaFonteRegular.ttf");


} */

/* body{
    font-family: "minhaFonte";
    background-color: white;
} */





 

